.other_message {
    margin: 1rem 2rem;
    max-width: 22.5rem;
}

.message__info {
    display: flex;
    align-items: center;
}

.message__sender {
    flex: 1;
}

.message__content {
    max-width: 22.5rem;
    border-radius: 0.75rem;
    background: #bdbdbd;
    padding: 0.688rem 0.875rem;
    cursor: pointer;
}

.message__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-blend-mode: normal;
    box-shadow: 0 0.25rem 0.25rem rgba(100, 100, 100, 0.5);
    padding: 0.25rem;
}
.message__time {
    margin-left: auto;
}

.user_message {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: auto;
    margin-right: 1rem;
    max-width: 22.5rem;
    cursor: pointer;
}

.user_message__content {
    border-radius: 0.75rem;
    background: #757575;
    padding: 0.688rem 0.875rem;
}
.user_message__time {
    margin: 0.5rem 0.5rem auto 0.75rem;
    color: black;
}

.user_message__info {
    display: flex;
}
.user_placeholder {
    flex: 1;
}
