.dashboard_file_main {
    border-radius: 0.5rem;
    background-blend-mode: normal;
    padding: 0 0.875rem;
    margin: 0.5rem 0;
    height: 3rem;
}
.dashboard_file_main:hover {
    background-color: rgb(232, 231, 231);
    cursor: pointer;
}

.dashboard_file_main,
.file__title_modified,
.file__title_name,
.file__title_owner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file__title_name {
    width: 35rem;
}
.file_title_color {
    background-color: skyblue;
    width: 3.188rem;
    height: 3.188rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.875rem;
    margin-right: 2.5rem;
}
.file__title_owner {
    width: 14.125rem;
}
.file__title_modified {
    width: 22.25rem;
}
.file__title_size {
    width: 6rem;
}

.file__title_name > p,
.file__title_modified,
.file__title_owner > p,
.file__title_size {
    font-size: 0.75rem;
    font-weight: 400;
}
