djangorestframework
djangorestframework-simplejwt
pyyaml
requests
django-cors-headers
django
channels
channels-redis
django_celery_results
django_celery_beat
django-celery-results
celery
django>=4.2.0
django-channels
selenium
twilio
pyotp
python-dotenv
africastalking