.bot_main {
    display: flex;
}

/* Sidebar styling */
.bot_sidebar {
    min-width: 4.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.15rem;
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: rgba(255, 255, 255, 0.25);
}

.bot__sidebar_icons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Body Styling */
.bot_body {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.bot__primary,
.bot__secondary {
    padding: 1.813rem;
}
