.chats {
    max-width: 100vw;
}
@media screen and (min-width: 80rem) {
    .chats {
        max-width: 100vw;
        height: 100vh;
        background: #0f1226;
        background-blend-mode: normal;
        color: white;
    }
}

@media screen and (max-width: 80rem) {
}
