.dashboard_main {
    display: flex;
    background-color: #0f1226;
}

/* Sidebar styling */
.dashboard_sidebar {
    min-width: 4.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.15rem;
}

.dashboard__sidebar_icons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Body Styling */
.dashboard_body {
    background-color: white;
    flex: 1;
    border-radius: 1.5rem 0 0 1.5rem;
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.dashboard__primary,
.dashboard__secondary {
    padding: 1.813rem;
}

/* Primary section styling */

.dashboard__primary {
    min-width: 44.25rem;
    max-width: 45.5rem;
}

.search_section {
    display: flex;
    align-items: center;
    border-radius: 0.62rem;
    overflow: hidden;
    background-color: #f0f3fb;
    height: 2.188rem;
    width: 26rem;
}
.search_icon {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #d4e0ff;
}
.search_input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.nav_section {
    margin-top: 1.688rem;
    display: flex;
}
.nav_text {
    width: 30rem;
    height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    flex: 1;
}
.nav_icons {
    display: flex;
    align-items: center;
}
.nav_icons > * {
    margin: 0 0.375rem;
}

.greeting_section {
    background-color: #ebf0fe;
    width: 41.063rem;
    height: 4.25rem;
    border-radius: 0.75rem;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.625rem;
    margin-top: 1.5rem;
}

.folder_container {
    margin-top: 1.5rem;
    /* max-height: 16rem; */

    display: flex;
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 1.875rem 0.5rem;
}

.file_container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* max-height: 10rem; */
}
.file_section {
    margin-top: 1.688rem;
    display: flex;
}

/* Folder container scrollbar styling */

.folder_container::-webkit-scrollbar {
    width: 0.375rem;
}

.folder_container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.folder_container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
}

.folder_container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* File container scrollbar styling */
.file_container::-webkit-scrollbar {
    width: 0.375rem;
}

.file_container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.file_container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
}

.file_container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Secondary section styling */
.dashboard__secondary {
    flex: 1;
}
.secondary_nav {
    display: flex;
    justify-content: flex-end;
}
.secondary_nav_icons {
    font-size: 1.813rem;
}
.user_info,
.secondary_nav_icons {
    display: flex;
    align-items: center;
}
.user_info > p {
    font-size: 1rem;
    padding: 0 0.8rem;
}

.calendar {
    margin-top: 1.813rem;
    min-width: 25.5rem;
    height: 13.5rem;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.calendar_header {
    display: flex;
    align-items: center;
}
.calendar_header > p {
    flex: 1;
    font-size: 1.25rem;
    font-weight: 700;
}

.task_card {
    margin-top: 1.813rem;
    min-width: 25.5rem;
    height: 7.625rem;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.card_control,
.card_time {
    display: flex;
    align-items: center;
}
.card_time {
    margin-top: 2rem;
}
.card_control > p {
    flex: 1;
    font-size: 1.125rem;
    font-weight: 600;
}
.card_time > p {
    margin-left: 1.125rem;
    font-size: 0.75rem;
    font-weight: 400;
}

.storage_card {
    margin-top: 1.813rem;
    min-width: 25.5rem;
    height: 9.325rem;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
