.files_main {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */
.files_sidebar {
    min-width: 4.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.15rem;
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: rgba(255, 255, 255, 0.25);
}

.files__sidebar_icons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Body Styling */
.files_body {
    flex: 1;
    padding: 1.375rem;
}

/* Navigation section */
.files__main_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.files__search_section {
    display: flex;
    align-items: center;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: #f0f3fb;
    height: 2.188rem;
    width: 41.375rem;
    box-shadow: 0rem 0.125rem 0.25rem rgba(100, 100, 100, 0.7);
}
.files__icon {
    color: #231f20;
}
.files__search_icon {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}
.files__search_icon:hover {
    background-color: #d4e0ff;
}
.files__search_input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
}
.files__filter_icon {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}
.files__filter_icon:hover {
    background-color: #d4e0ff;
}

.files__icons_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Filter titles section */
.files__filter_nav {
    display: flex;
    flex-direction: column;
    margin: 1.375rem 0;
}
.files__filter_title,
.files__filter_text {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.files__filter_text > p {
    font-size: 2.25rem;
    font-weight: 700;
    margin-right: 0.5rem;
}

.files__filter_buttons {
    display: flex;
}

.files__filter_button {
    border-radius: 0.5rem;
    border: 0.063rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
    padding: 0 0.75rem;
    margin: 0.5rem 0.875rem;
}
.files__filter_button > p {
    font-size: 0.875rem;
    font-weight: 500;
}

/* Suggested section */
.files__suggested > p {
    font-size: 1.25rem;
    font-weight: 500;
}
.files__suggested_container {
    display: flex;
}
/* Files navigation */
.files__file_nav {
    margin: 2rem 0.5rem 0 0;
}
.files__file_nav > p {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0.5rem 1rem;
}
.files__file_nav_title,
.files__title_modified,
.files__title_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.files__file_nav_title {
    border-radius: 0.5rem;
    background: #ffffff;
    background-blend-mode: normal;
    box-shadow: 0.075rem 0.125rem 0.25rem rgba(100, 100, 100, 0.8);
    padding: 0 0.875rem;
}

.files__title_name {
    width: 35rem;
}
.files__title_owner {
    width: 14.125rem;
}
.files__title_modified {
    width: 22.25rem;
}
.files__title_size {
}

.files__title_name > p,
.files__title_modified > p,
.files__title_owner,
.files__title_size {
    font-size: 0.75rem;
    font-weight: 600;
}

.files_file_nav_container {
    max-height: 17rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* File container scrollbar styling */
.files_file_nav_container::-webkit-scrollbar {
    width: 0.375rem;
}

.files_file_nav_container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.files_file_nav_container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.25rem;
}

.files_file_nav_container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
