.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 0.625rem;
        min-width: 45rem;
        min-height: 30rem;
        max-width: 60vw;
        max-height: 40vh;
    }
}

@media (max-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 0.563rem;
        min-width: 18.75rem;
        min-height: 25rem;
        max-width: 60vw;

        max-height: 40vh;
        margin: 0 auto;
    }
}

.grid > * {
    /* background-color: #8bccf170; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 10rem;
}

.grid > * > * {
    margin: 0;
    padding: 0;
}

.grid__one {
    grid-column: 1/2;
    grid-row: 1/ 3;
    font-size: xx-large;
}

.grid__two {
    grid-column: 2/8;
    grid-row: 1/ 3;
}
.grid__three {
    grid-column: 8/11;
    grid-row: 1/ 3;
}
.grid__four {
    grid-column: 1/3;
    grid-row: 3/ 5;
}
.grid__five {
    grid-column: 3/8;
    grid-row: 3 /5;
    font-size: 70px;
}
.grid__six {
    grid-column: 8/11;
    grid-row: 3/6;
}
.grid__seven {
    grid-column: 1/8;
    grid-row: 5/ 7;
}
.grid__eight {
    grid-column: 8/11;
    grid-row: 6/7;
    font-size: xx-large;
}

@media (min-width: 1280) {
    .test {
        position: relative;
        left: 82px;
        top: 994px;
        width: 1280px;
        height: 800px;
        background: #ffffff;
        background-blend-mode: normal;
    }

    .rectangle1 {
        position: relative;
        left: 405px;
        top: 137px;
        width: 73.11px;
        height: 170.59px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle2 {
        position: relative;
        left: 405px;
        top: 317.75px;
        width: 134.04px;
        height: 183.8px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle3 {
        position: relative;
        left: 486.24px;
        top: 137px;
        width: 232.54px;
        height: 170.59px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle4 {
        position: relative;
        left: 547.16px;
        top: 317.75px;
        width: 171.61px;
        height: 183.8px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle5 {
        position: relative;
        left: 726.9px;
        top: 139.03px;
        width: 149.27px;
        height: 168.56px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle6 {
        position: relative;
        left: 405px;
        top: 508.65px;
        width: 313.77px;
        height: 154.35px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle7 {
        position: relative;
        left: 726.9px;
        top: 585.83px;
        width: 149.27px;
        height: 77.17px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }

    .rectangle8 {
        position: relative;
        left: 726.9px;
        top: 317.75px;
        width: 149.27px;
        height: 256.91px;
        background: #d1c4e9;
        background-blend-mode: normal;
    }
}
@media (max-width: 1279) {
}
