.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 10px;
        min-width: 720px;
        min-height: 480px;
        max-width: 60vw;
        max-height: 40vh;
    }
}

@media (max-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 9px;
        min-width: 300px;
        min-height: 400px;
        max-width: 60vw;

        max-height: 40vh;
        margin: 0 auto;
    }
}

.grid > * {
    background-color: #8bccf170;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 160px;
}

.grid > * > * {
    margin: 0;
    padding: 0;
}

.grid__one {
    grid-column: 1/2;
    grid-row: 1/ 3;
    font-size: xx-large;
}

.grid__two {
    grid-column: 2/8;
    grid-row: 1/ 3;
}
.grid__three {
    grid-column: 8/11;
    grid-row: 1/ 3;
}
.grid__four {
    grid-column: 1/3;
    grid-row: 3/ 5;
}
.grid__five {
    grid-column: 3/8;
    grid-row: 3 /5;
    font-size: 70px;
}
.grid__six {
    grid-column: 8/11;
    grid-row: 3/6;
}
.grid__seven {
    grid-column: 1/8;
    grid-row: 5/ 7;
}
.grid__eight {
    grid-column: 8/11;
    grid-row: 6/7;
    font-size: xx-large;
}
