* {
    margin: 0;
}
body {
    font-family: "League Spartan", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    background: linear-gradient(to bottom, blue, pink);
    /* z-index: -1; */
}
